.Comment-card {
    border: 0.5px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0px 29px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-left: 70px;
    margin-right: 70px;
    position: relative; /* Added to make positioning children relative to the card */
  }
  
  .Comment-card h5 {
    font-size: 1.4rem;
    margin: 0;
    color: rgb(73, 73, 73);
  }
  
  .Comment-card p {
    margin: 5px 0;
    color: rgb(73, 73, 73);
    font-weight: 300;
  }
  
  .Comment-card .delete-button {
    background-color: #e60000;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .Comment-card .delete-button:hover {
    background-color: #6e0101;
  }

  @media (max-width: 768px) {
    .Comment-card {
      margin: 10px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .Comment-card h5 {
      font-size: medium;
      margin: 0;
      color: rgb(73, 73, 73);
    }
    .Comment-card p {
      margin: 5px 0;
      color: rgb(73, 73, 73);
      font-size: small;
    }
  
    .Comment-card .delete-button {
      position: static;
      width: 30%;
      margin-top: 10px;
      padding: 3px 10x;
    }
  }
  