/* HomePage.css */
.homepage {
    padding-left: 0px;
    padding-right: 0px;
    font-family:'Rubik', sans-serif;
  }
  
  .h1{
    margin-left: 20px;
    font-family: 'Pixelify Sans', sans-serif;
  }
  .nit-title{
    size: 900px;
    align-items: center;
    text-align: center;
    font-size: 5.5em;
    color: #007bff;
  }
  .homepage .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 70px; 
    margin-left: 970px;
    margin-top: 20px;
  }
  
  /* Styling for the search label */
  .search-bar-container label {
    margin-right: 10px;

  }
  
  /* Styling for the search input */
  .search-bar{
    padding: 0px;
    border: 1px solid #999999;
    border-radius: 8px;
    width: 400px;
    font-size: 14px;
    outline: none; 
  }
  .dropdown-container{
    margin-left: 400px;
    margin-right: 400px;
    border-width: 2px;
  }
  .dropdown-container .custom-select{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.homepage .dropdown-container label {
    font-weight: 600;

}
.load-more-button {
  background-color: #0073e6; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  display: block;
  margin: 0 auto; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.load-more-button:hover {
  background-color: #005bb7; 
}
  
  
  