/* LoginPage.css */

  .login-page {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      background-color: white;
      width: 20%;
      min-width: 10%;
      max-width: 20%;
      border-radius: 5%;
      padding: 5%;
      font-family:'Rubik', sans-serif;
    }
    
    p{
      font-size: 20px;
      font-weight: 200;
    }

    
    .google-sign-in{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      width: 300px;
      height: 50px;
      margin: 10px;
    }
    .google-sign-in:hover {
      background-color: #0056b3;
    }
    .blue-background {
      flex: 1;
      background-color: #007bff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .rate-my-prof-title {
      color: white;
      font-size: 4.5rem;
      font-family:'Rubik', sans-serif;
    }
    
    .google-button-container {
      flex: 1;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    

