
.navbar {
    background-color: #0073e6; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    width: 100%vh;
    font-family: 'Rubik', sans-serif;
  }
  
  .selected-department {
    margin-left: 70px; 
    color: rgb(73,73,73);
  }
  
  .navbar-title {
    margin: 0;
    font-size: 24px;
    padding-left: 20px;
    text-decoration: none;
    color: #fff;
  }
  
 
  .navbar-links a {
    text-decoration: none;
    color: #fff; 
    margin-right: 20px;
    font-size: 18px;
  }
  